@font-face{
	font-family: webF;
	src: url(questrial-regular-webfont.woff)format("woff");
}
html, body{
	font-family: webF;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	background-color: #F2EDD8;
}

header  {
	text-align: center;
	background-color: #7B8D8E;
	color:white;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 1px;
	position: fixed;
	box-shadow: -10px 2px 20px 2px gray;
	top:0;
}
nav li {
	display: inline;
	margin-right:50px;
	font-size: 20px;
	list-style: none;
}
nav li a {
	text-decoration: none;
	color:white;
}
nav li a:hover {
	text-decoration: underline;
	color:black;
	font-size: 30px;
}
nav ul{
	list-style: none;
}
h1 {
	text-align:center;
}
header nav {
	text-align:center;
}
h2 {
	padding-top:10px;
	vertical-align: middle;
	height: 40px;
	text-indent: 20px;
	background-color: #5D4C46;
	color: white;
	font-size: 30px;
}
h2:hover{
	/*background-color: #55c4c3;*/
	background-color: #44B3C2;
	color: white;
	box-shadow: 0px 1px 20px 1px gray;
}
#mainbody{
	margin-top: 135px;
	margin-bottom: 130px;
}
.itemdetails {
	padding-left: 80px;
	margin-left: 50px;
}
.subdetails {
	margin-left: 80px;
}
.subdetails + p{
	left: 100px;
}
p.descp {
	margin-left: 100px;
}
p.descp:nth-child(2), p.descp:nth-child(3) {
	margin-left: 120px;
}
p.descp:nth-child(3){
	margin-right: 100px;
}

.itemtitle{
	padding-top:10px;
	vertical-align: middle;
	height: 30px;
	text-indent: 20px;
	background-color: #E45641;
	color: white;
	font-size: 20px;
	margin-left: 20px;
}
.itemtitle:hover {
	box-shadow: 0px 1px 20px 1px gray;
}
.subdetails ul li {
	line-height: 30px;
}
footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background-color: #7B8D8E;
	box-shadow: -10px 2px 20px 2px gray;
}
.subchild {
	text-indent: 30px;
}
.subchild2 {
	text-indent: 40px;
}
h4 {
	font-size:25px;
}
p{
	font-size:17px;
}
img {
	height: 300px;
}
#selector {
	height: 150px;
	margin-left: 100px;
}
li {
	padding: 10px;
}
td {
	padding: 10px;
}