@font-face{
	font-family: webF;
	src: url(questrial-regular-webfont.woff)format("woff");
}
html, body{
	font-family: webF;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	background-color: #F2EDD8;
}

header  {
	text-align: center;
	background-color: #7B8D8E;
	color:white;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 1px;
	position: fixed;
}
li {
	display: inline;
	margin-right:20px;
	font-size: 20px;
	list-style: none;
}
li a {
	text-decoration: none;
	color:white;
}
li a:hover {
	text-decoration: underline;
	color:white;
	font-size: 50px;
}
nav ul{
	list-style: none;
}
h1 {
	text-align:center;
}
header nav {
	text-align:center;
}
h2 {
	padding-top:10px;
	vertical-align: middle;
	height: 40px;
	text-indent: 20px;
	background-color: #44B3C2;
	color: white;
	font-size: 30px;
}
h2:hover{
	color: white;
}
#mainbody {
	margin-top: 0px;
}
#topic1 {
	padding-top: 100px;
}
#topic1items{
	display:none;
}
#topic1items *{
	padding-left: 50px;
}
#topic2items{
	display:none;
}
#topic3items{
	display:none;
}
.itemdetails {
	padding-left: 100px;
}
.subdetails {
	padding-left: 100px;
}
.subdetails p{
	padding-left: 100px;
}
.itemtitle{
	padding-top:10px;
	vertical-align: middle;
	height: 30px;
	text-indent: 20px;
	background-color: #E45641;
	color: white;
	font-size: 20px;
}



